{% block content_footer %}
    <footer>
        Projet Cerberus|1984 avec la participation de :<br>
        Cédric "Fabulous" Prudent, Elvina "Awesome" Berneron, Ouahcène "Magnificent" Djaou, Anaël "Amazing" Tessier, Stéphane "Steller" Feuga.
        <hr>
        Copyright © 2013-2014 under <a href="http://www.gnu.org/licenses/gpl.html">GNU/GPL v3</a>.
    </footer>
{% endblock %}
