{% block content_nav %}
    <nav>
        <a href="home">Accueil</a>
        <span>|</span>
        <a href="profil">Profil</a>
        <span>|</span>
        <a href="projets">Projets</a>
        <span>|</span>
        <a href="skills">Compétences</a>
    </nav>
    <hr>
{% endblock %}
