{# src/Moi/TestBundle/resources/views/Test/index.html.twig #}

<!DOCTYPE html>
<html>
    <head>
	    <title>Bienvenue à ma page d'acceuil de mon site</title>
	</head>
	<body>
	    <h1>Bonjour à Tous !<h1>
		<p>
		    Ce site me sert à m'exercer sur l'utilisation du Framework de PHP, Symfony 2.
		</p>
	</body>
</html>